#carousel-root {
    --slide-width: 100%;
    --slide-separation: 20px;
  }

  .carousel {
    height: 300px;
    perspective: 1000px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  
  .scene {
    width: var(--slide-width);
    margin: 40px auto 0 auto;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  
  .carousel_item {
    width: 384px;
    height: 216px;
    box-sizing: border-box;
    backface-visibility:visible;
    object-fit: fill;
  }
  
  .carousel_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .carousel_item:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .carousel_btn {
    width: 100px;
    margin: 20px auto 0 auto;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .carousel_btn .btn {
    width: 45px;
    height: 45px;
    line-height: 40px;
    padding-left: 7px;
    box-sizing: border-box;
    border-radius: 50%;
    float: left;
    border: 2px solid #2f2f2f;
    color: #2f2f2f;
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .carousel_btn .btn:hover {
    color: #ffffff;
    background-color: #2f2f2f;
  }
  
  .carousel_btn > div {
    text-align: center;
  }
  