.navbar {
    border-radius: 100px;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    background: linear-gradient(135deg, #191e3f, #000000);
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
    opacity: .7;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-bottom: 1rem;
    margin-top: 50px;
  }
  
  .navbar a {
    color: #c3c0a1;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    transition: color 0.2s ease-in-out;
  }
  
  .navbar a:hover {
    text-decoration: none;
    color: #5fa267;
    transition: .4s;
  }
  
  .navbar a i {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      width: 100%;
      height: auto;
    }
    
    .navbar ul {
      flex-direction: row;
      justify-content: space-between;
    }
    
    .navbar li {
      margin-bottom: 0;
    }
    
    .navbar a {
      font-size: 1rem;
      padding: 0.5rem;
    }
    
    .navbar a i {
      margin-right: 0;
    }
  }
  
  .navbar-logo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  
  .navbar-link {
    display: block;
    padding: 0.75rem 0;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
  
  .navbar-link:hover {
    color: #d9d9d9;
  }
  
  .navbar-icon {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
  
  .navbar-social {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }
  
  .navbar-social-link {
    display: block;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.2s ease-in-out;
  }
  
  .navbar-social-link:hover {
    color: #d9d9d9;
  }
  